*.o
*.pyc
test.db
tmp
test
venv

# binaries
c_src/1MioStars/map
c_src/1MioStars/sysgen1
c_src/1MioStars/sysgen2
c_src/accrete/accrete
c_src/ExtSys/system
c_src/GenSec4/gensec4
c_src/planetgen/planet
c_src/Planets/planets
c_src/stargen/stargen
c_src/Stars/stars
c_src/SysGen4/capital
c_src/SysGen4/detprint
c_src/SysGen4/epmap
c_src/SysGen4/hexmap
c_src/SysGen4/name
c_src/SysGen4/origin
c_src/SysGen4/planpack
c_src/SysGen4/prmap
c_src/SysGen4/scan
c_src/SysGen4/scanner
c_src/SysGen4/secprnt
c_src/SysGen4/sysgen1
c_src/SysGen4/sysgen2
c_src/SysGen4/sysgen3
c_src/SysGen4/sysgen4
c_src/SysGen4/timtbl
c_src/SysGen4/ttimes
c_src/worldgen/worldgen
